<br><br><br><br>
<div class="container">
    <h2>General Infromation</h2>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Biographic Information</legend>
        <form>
            <div class="form-row">
              <div class="form-group required col-md-6">
                <label for="inputFirstName" class="inputFirstName">First Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Placeholder" required="required">
              </div>
              <div class="form-group required col-md-6">
                <label for="inputPassword4" class="inputLastName">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Placeholder">
              </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputBirthday">Birthday</label>
                    <input type="date" class="form-control" id="inputBirthday" placeholder="Placeholder">
                  </div>
                <div class="form-group col-md-3">
                    <label for="inputBirthday">Gender</label>
                        <select class="form-select" aria-label="Select">
                            <option selected>Select</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputBirthday">Civil Status</label>
                        <select class="form-select" aria-label="Select">
                            <option selected>Select</option>
                            <option value="1">Single</option>
                            <option value="2">Married</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputBirthday">Nationality</label>
                        <select class="form-select" aria-label="Select">
                            <option selected>Select</option>
                            <option value="1">Sri Lankan</option>
                            <option value="2">Saudi Arabian</option>
                  </select>
                </div>
            </div>
            <!-- <button type="submit" class="btn btn-secondary">Sign in</button> -->
          </form>
    </fieldset>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Contact Information</legend>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputFirstName">Phone Number</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Placeholder" required="required">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Email Address</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Placeholder">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputPassword4">Address</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="Placeholder">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword4">City</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="Placeholder">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword4">Zip Code</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="Placeholder">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputBirthday">Country</label>
                        <select class="form-select" aria-label="Select">
                            <option selected>Select</option>
                            <option value="1">Sri Lanka</option>
                            <option value="2">Saudi Arabia</option>
                  </select>
                </div>
            </div>
            <!-- <button type="submit" class="btn btn-secondary">Sign in</button> -->
          </form>
    </fieldset>
    <div class="btnall">
    <button type="submit" class="btn btn-outline-secondary me-2">Clear</button>
    <button type="submit" class="btn btn-secondary active">Save</button>
    </div>
</div>
<br><br><br>